In [1]:
import pandas as pd

In [17]:
df = pd.DataFrame({'col_1' : ['a', 'b', 'd', 'a', 'b', 'c', 'd', 'b', 'c', 'a', 'd', 'b', 'c', 'b'],
                   'target' : [0, 1, 2, 0, 0, 1, 2, 1, 1, 2, 0, 0, 1, 2]})
df

   col_1  target
0      a       0
1      b       1
2      d       2
3      a       0
4      b       0
5      c       1
6      d       2
7      b       1
8      c       1
9      a       2
10     d       0
11     b       0
12     c       1
13     b       2

In [18]:
print(df[['col_1', 'target']].groupby(df['col_1'], as_index=False).mean())

     target
0  0.666667
1  0.800000
2  1.000000
3  1.333333

In [19]:
df[['col_1', 'target']].groupby(df['col_1'], as_index=False)

In [20]:
print(pd.crosstab(df['col_1'],df['target']))

target  0  1  2
col_1
a       2  0  1
b       2  2  1
c       0  3  0
d       1  0  2

In [21]:
pd.crosstab(df['col_1'],df['target'])[0].sum()

5

In [22]:
pd.crosstab(df['col_1'],df['target'], normalize='columns')

target    0    1     2
col_1
a       0.4  0.0  0.25
b       0.4  0.4  0.25
c       0.0  0.6  0.00
d       0.2  0.0  0.50