In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'col_1' : [1, 2, 2, 3, 2, 3],
                   'col_2' : ['A', 'B', 'B', 'C', 'B', 'C']})
df

   col_1 col_2
0      1     A
1      2     B
2      2     B
3      3     C
4      2     B
5      3     C

In [3]:
df.duplicated(subset=None, keep='first')
# Subset : Only consider certain columns for identifying duplicates, by default use all of the columns

0    False
1    False
2     True
3    False
4     True
5     True
dtype: bool

In [4]:
df.duplicated(subset=None, keep='last')

0    False
1     True
2     True
3     True
4    False
5    False
dtype: bool

In [5]:
df.duplicated(subset=None, keep=False)

0    False
1     True
2     True
3     True
4     True
5     True
dtype: bool

In [6]:
dupl_indices = df.duplicated(subset=None, keep='first')
print('Total Duplicates: ', dupl_indices.sum())

Total Duplicates:  3

### Duplicated Records

In [7]:
df.loc[dupl_indices, :]

   col_1 col_2
2      2     B
4      2     B
5      3     C

### Unique Records

In [8]:
df.loc[~dupl_indices, :]

   col_1 col_2
0      1     A
1      2     B
3      3     C